body {
    font-family: Arial;
    text-align: center;
}

#iconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 5px;
}